<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.css" integrity="sha512-qYgnDNlu2lefkHtLZMk3Mj7BJb/Cg/lIyydO9eJAvgqtjU08KVeJqEBAaB8VUVDCRkdAwgzS04Jh6g4AtIcThw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>VUE To Do List</title>
</head>
<body>

  <div id="app">

    <div id="logo">
      <img src="img/boolean-logo.png" alt="">
    </div>

    <div class="top">
      <input v-model="emptyTaskText" 
      @keyup.enter="addTask"
      type="text" placeholder="Cosa devo fare?">
      <button 
      @click="addTask"
      class="btn">Aggiungi Task</button>
    </div>

    <div class="bottom">
      
      <ul>

        <li v-for="(task, index) in tasks">
          <p @click="task.done = !task.done" 
          :class="{done : task.done}">
            {{task.text}}
          </p>

          <i @click="deleteTask" class="fas fa-times"></i>
        
        </li>
      
      </ul>
    
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>